<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Vue Pizza Pi</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <!-- Router -->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div id="app">
          <p>
            <!-- use router-link component for navigation. -->
            <!-- specify the link by passing the `to` prop. -->
            <!-- <router-link> will be rendered as an `<a>` tag by default -->
            <router-link to="/durchmesser">Durchmesser</router-link>
            <router-link to="/vergleich">Vergleich</router-link>
          </p>
          <!-- route outlet -->
          <!-- component matched by the route will render here -->
          <router-view></router-view>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    class Pizza {
      constructor(diameter = 30, price = 8) {
        this.diameter = diameter;
        this.price = price;
        this.relativePrice = this.relativePriceSquareMeter();
      }
      area() {
        return Math.pow(this.diameter / 2, 2) * 3.1415;
      }
      relativePriceSquareMeter() {
        let area = this.area();
        let pizzaPrice = this.price;
        if (isNaN(area) || area == 0 || area === undefined || pizzaPrice == '' || isNaN(pizzaPrice)) {
          return 'unberechenbare'
        } else {
          let factor = 1 / (area / 10000);
          let result = (factor * this.price).toFixed(2);
          this.relativePrice = result;
          return result;
        }
      }
    }

    var PizzaCalculatorForm = {
      props: ['pizza'],
      template: `
      <div>
        <form>
          <div class="form-group">
            <label for="diameter">Durchmesser</label>
            <input class="form-control" v-model="pizza.diameter" placeholder="Größe in cm">
          </div>
          <div class="form-group">
            <label for="Preis">Preis</label>
            <input class="form-control" v-model="pizza.price" placeholder="Preis in Euro">
          </div>
        </form>
      </div>
    `
    }

    var PizzaRelativePrice = {
      props: ['pizza'],
      template: `
      <div>
        <div class="" v-if="this.pizza.relativePriceSquareMeter() != 'unberechenbare'">
          {{this.pizza.relativePriceSquareMeter()}} €/m² / {{parseInt(this.pizza.area()) + ' cm²'}}
        </div>
        <div class="" v-else>
          <small>Das kann ich nicht berechnen, bitte überprüfe deine Eingaben.</small>
        </div>
      </div>
    `
    }

    let PizzaComparisonResult = {
      props: ['pizzas'],
      template: `
        <div>
          <h4>Ergebnis</h4>

          <div>
            {{priceDiff(pizzas)}}
          </div>
        </div>
      `,
      methods: {
        whichPizzas: function (pizzas) {
          let largePizza = pizzas[0]
          let smallPizza = pizzas[1]
          let largePizzaArea = largePizza.area()
          let smallPizzaArea = smallPizza.area()
          if (largePizzaArea >= 2 * smallPizzaArea) {
            return largePizza
          }
          else {
            return smallPizza
          }
        },
        priceDiff: function (pizzas) {
          let largePizza = pizzas[0]
          let smallPizza = pizzas[1]
          if (this.whichPizzas(pizzas) == largePizza) {
            let priceDiff = largePizza.price - smallPizza.price
            return '1 große Pizza kostet ' + largePizza.price + ' € und du bekommst ' + this.percDiff(largePizza.area(), 2 *  smallPizza.area()) + ' % mehr.'
          } else {
            let priceDiff = 2 * smallPizza.price - largePizza.price
            return '2 kleine Pizzen kosten ' + priceDiff + ' € mehr, dafür bekommst du ' + this.percDiff(2 * smallPizza.area(), largePizza.area()) + ' % mehr.'
          }
        },
        percDiff: function (highVal, lowVal) {
          return parseInt((highVal - lowVal) / lowVal * 100)
        }
      }
    }

    let PizzaComparator = {
      template: `
        <div>
          <h2>2 kleine oder 1 große Pizza?</h2>
          <div v-for="(pizza, index) in pizzas">
            <div v-if="index == 0">
              <h4>Große Pizza</h4>
            </div>
            <div v-else>
              <h4>2 kleine Pizzen</h4>
            </div>

            <pizza-calculator-form v-bind:pizza="pizza">
            </pizza-calculator-form>
            <div>
              Bonus: <pizza-relative-price v-bind:pizza="pizza">
              </pizza-relative-price>
            </div>
            <br>
          </div>

          <pizza-comparison-result v-bind:pizzas="pizzas"></pizza-comparison-result>
        </div>
      `,
      components: {
        'pizza-relative-price': PizzaRelativePrice,
        'pizza-calculator-form': PizzaCalculatorForm,
        'pizza-comparison-result': PizzaComparisonResult
      },
      data: function() {
        return {
          pizzas: [new Pizza(34, 10), new Pizza(24, 5)],
          selectedMenu: 'zum Pizzavergleicher'
        }
      },
      methods: {
        comparePizzas: function() {
          return this.pizzas.sort(function(a, b) {
            return a.relativePrice - b.relativePrice;
          })
        }
      }
    }

    let PizzaSquareMeterCalculator = {
      template: `
        <div>
          <h3>Pizza Quadratmeter Preisvergleich</h3>
          <pizza-calculator-form v-bind:pizza="pizzas[0]">
          </pizza-calculator-form>
          <pizza-relative-price v-bind:pizza="pizzas[0]">
          </pizza-relative-price>
        </div>
      `,
      components: {
        'pizza-relative-price': PizzaRelativePrice,
        'pizza-calculator-form': PizzaCalculatorForm
      },
      data: function() {
        return {
          pizzas: [new Pizza(30, 8), new Pizza(26, 6)],
          selectedMenu: 'zum Pizzavergleicher'
        }
      }
    }

    // 0. If using a module system, call Vue.use(VueRouter)

    // 1. Define route components.
    // These can be imported from other files
    // const Foo = {
    //   template: '<div>foo</div>'
    // }
    // const Bar = {
    //   template: '<div>bar</div>'
    // }

    // 2. Define some routes
    // Each route should map to a component. The "component" can
    // either be an actual component constructor created via
    // Vue.extend(), or just a component options object.
    // We'll talk about nested routes later.
    const routes = [{
        path: '/durchmesser',
        component: PizzaSquareMeterCalculator
      },
      {
        path: '/vergleich',
        component: PizzaComparator
      }
    ]

    // 3. Create the router instance and pass the `routes` option
    // You can pass in additional options here, but let's
    // keep it simple for now.
    const router = new VueRouter({
      routes
    })

    // 4. Create and mount the root instance.
    // Make sure to inject the router with the router option to make the
    // whole app router-aware.
    const app = new Vue({
      router
    }).$mount('#app')

    // Now the app has started!
  </script>
</body>

</html>
